<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input : Web Form</title>
    <style>
        input { width: 100px; }
        div { width: max-content; margin: 30px auto ; text-align: center;}
        .error { background-color: #ffcccc; }
        span { font-weight: bold; color: blue}
        em { color: green; font-weight: bold;}
    </style>
</head>
<body>
    <div>
        <h2>Arithmetic Operations</h2>
        <form action="/" method="post">
            <input type="text" name="n1" id="" value="<%= data?.n1 ?? '' %>"
             class="<%= errors.n1 ? 'error' : '' %>"  
            >
            <select name="op" id="">
                <option value="add" <%= data?.op === "add" ? "selected" : "" %>>+</option>
                <option value="sub" <%= data?.op === "sub" ? "selected" : "" %>>-</option>  
                <option value="mul" <%= data?.op === "mul" ? "selected" : "" %>>*</option>
                <option value="div" <%= data?.op === "div" ? "selected" : "" %>>/</option>
             </select>
            </select>
            <input type="text" name="n2" id="" value="<%= data?.n2 ?? '' %>"
             class="<%= errors.n2 ? 'error' : '' %>"
            >  
            <br><br>
            <button type="submit">Calculate</button>
        </form>
    </div>
     <% if ( typeof result !== "undefined" ) { %>
        <div>
            <h3>Result: </h3>
            <p>
                <%= data.n1 %>
                <span><%= data.op %></span>
                <%= data.n2 %>
                 =
                <em><%= result %></em>
            </p>
        </div>
    <% } %>

    <% if ( Object.keys(errors).length > 0 ) { %>
        <div>
            <h3 style="color: red;">Errors:</h3>
            <ul>
                <% Object.values(errors).forEach(error => { %>
                    <li><%= error.msg %></li>
                <% }) %>
            </ul>
        </div>      
    <% } %>
</body>
</html>