<!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
 </head>
 <body>
     <h1>List of Students</h1>
     <table id="stdList">
        <tr>
            <td>Id</td><td>Name</td><td>Lastname</td><td>CGPA</td><td>Birthday</td>
            <td colspan=3></td>
        </tr>
        <% for ( let std of students ) { %>
            <tr>
                <td><%= std.id %></td>
                <td><%= std.name %></td>
                <td><%= std.lastname %></td>
                <td><%= std.cgpa %></td>
                <td><%= std.bday.toLocaleDateString("tr-TR") %></td>
                <td>
                    <a href="/delete/<%= std.id %>" title="delete">
                        <img src="/img/delete.png" alt="delete">
                    </a>
                </td>
                <td>
                    <a href="/update/<%= std.id %>" title="random cgpa">
                        <img src="/img/update.png" alt="update">
                    </a>
                </td>
            </tr>
        <% } %>
     </table>
     <p>
        <form action="/create" method="post">
            <p>
                <button>
                     <img src="/img/plus.png" alt=""  class="xl">
                </button>
            </p>
        </form>
        
     </p>
 </body>
 </html> 
 